{% extends "global/template.html" %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block head %}

<link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">

{% endblock head %}

{% block content %}

{% include "recipes/partials/header.html" %}
{% include "recipes/partials/search.html" %}

<main class="main-content-container">
  <div class="main-content main-content-list container">
    {% for recipe in recipes %}
    {% include "recipes/partials/recipe-item.html" %}
    {% endfor %}
  </div>
</main>

{% include "recipes/partials/footer.html" %}

{% endblock content %}