{% extends "global/template.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">
<title>Recipe</title>

{% endblock head %}

{% block content %}

{% include "recipes/partials/header.html" %}
{% include "recipes/partials/search.html" %}

<main class="main-content-container">
  <div class="main-content main-content-detail container">
    {% include "recipes/partials/recipe-item.html" %}
  </div>
</main>

{% include "recipes/partials/footer.html" %}

{% endblock content %}